body {
  text-align: center;
  background-color: black;
}

#top {
  background-color: blue;
  font-family: verdana;
}

#ad {
  background-color: yellow;
  font-family: verdana;
  font-color: white;
}

h3 {
  background-color: blue;
  font-family: verdana;
}
